<div class="intro comtainer">
    <div class="row">
        <div class="span6 how-to">
            <p>Instapoint helps you create custom maps with tourist points of interest near your location.<br><br>
            Display restaurants, bars, museums, beaches, parks and more.<br><br>
            Embed the map on your website or share the URL with others.</p>
            <p class="ciceroos">Powered by <a target="_blank" href="http://www.ciceroos.it/"><img src="../images/logo_ciceroos.png" class="logo-ciceroos"></a></p>

        </div>
        <div class="span6 center">
            <img src="/images/map.png">
        </div>
    </div>
</div>

<hr>
<div class="form-section find-location container"></div>
<div class="form-section select-categories disabled container"></div>
<div class="form-section map-section disabled container">
    <div>
        <div class="section-separator"></div>
        <div class="section-header row">
            <div class="span12">
                <div class="step-number">3</div><label>Share or embed your map:</label>
            </div>
        </div>
        <div class="row">
            <div class="span6 show-map"></div>
            <div class="span6 show-result"></div>
        </div>
    </div>
</div>
