ul.categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.category-name {
	line-height: 22px;
	font-size: 16px;
	margin: 0 20px 10px 0;
	@include border-radius(3px);
	@include box-shadow(inset 0px 1px 0 1px rgba(255,255,255,0.1), 0px 1px 0px 0px rgba(51,51,51, 0.5));
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	@include background-image(linear-gradient(#5AB953 0%, #49A34B 100%));
	color: white;

	&.selected {
		background-image: none;
		background-color: #337134;
	}

	&.active {
		opacity: 0.8;
	}
}


.cat-icon {
	height: 22px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
