/* line 1, _utilities.scss */
.hidden {
  display: none;
}

/* line 21, _utilities.scss */
.clearfix {
  zoom: 1;
}
/* line 11, _utilities.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 15, _utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 64, _utilities.scss */
.center {
  text-align: center;
}

/* line 65, _utilities.scss */
.right {
  text-align: right;
}

/* line 66, _utilities.scss */
.left {
  text-align: left;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, _base.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 17, _base.scss */
body {
  margin: 0;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 25, _base.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 34, _base.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 38, _base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 47, _base.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 55, _base.scss */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 63, _base.scss */
figure {
  margin: 0;
}

/* line 67, _base.scss */
.container {
  max-width: 940px !important;
  margin: auto;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 20, _semantic.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, _semantic.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 39, _semantic.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 48, _semantic.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/* line 6, _typography.scss */
h1, h2, h3, p, label, div, button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 10, _typography.scss */
p {
  line-height: 22px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 19, _typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 28, _typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 37, _typography.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 45, _typography.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 53, _typography.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  height: 1px;
  background-color: #d7d7d7;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 65, _typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 77, _typography.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 86, _typography.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 94, _typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 102, _typography.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 111, _typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 118, _typography.scss */
sup {
  top: -0.5em;
}

/* line 122, _typography.scss */
sub {
  bottom: -0.25em;
}

/* line 7, _grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, _grid.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 19, _grid.scss */
.container {
  zoom: 1;
  width: 980px;
  margin: 0 auto;
}
/* line 11, _utilities.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 15, _utilities.scss */
.container:after {
  clear: both;
}

/* line 27, _grid.scss */
.responsive .container {
  width: auto;
  max-width: 980px;
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  /* line 27, _grid.scss */
  .responsive .container {
    margin: 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 27, _grid.scss */
  .responsive .container {
    margin: 0;
    padding: 0 15px;
  }
}

/* line 47, _grid.scss */
.row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 11, _utilities.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 15, _utilities.scss */
.row:after {
  clear: both;
}

@media screen and (max-width: 767px) {
  /* line 56, _grid.scss */
  .responsive .row {
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 66, _grid.scss */
.field-row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 11, _utilities.scss */
.field-row:before, .field-row:after {
  content: "";
  display: table;
}
/* line 15, _utilities.scss */
.field-row:after {
  clear: both;
}
/* line 71, _grid.scss */
.field-row [class*="span"] {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  /* line 78, _grid.scss */
  .responsive .field-row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 82, _grid.scss */
  .responsive .field-row [class*="span"] {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 93, _grid.scss */
[class*="span"] {
  float: left;
  min-height: 1px;
  padding: 0 10px;
}
/* line 98, _grid.scss */
[class*="span"]:last-child {
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 104, _grid.scss */
  .responsive [class*="span"] {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 115, _grid.scss */
.span1 {
  width: 8.33333%;
}

/* line 115, _grid.scss */
.span2 {
  width: 16.66667%;
}

/* line 115, _grid.scss */
.span3 {
  width: 25%;
}

/* line 115, _grid.scss */
.span4 {
  width: 33.33333%;
}

/* line 115, _grid.scss */
.span5 {
  width: 41.66667%;
}

/* line 115, _grid.scss */
.span6 {
  width: 50%;
}

/* line 115, _grid.scss */
.span7 {
  width: 58.33333%;
}

/* line 115, _grid.scss */
.span8 {
  width: 66.66667%;
}

/* line 115, _grid.scss */
.span9 {
  width: 75%;
}

/* line 115, _grid.scss */
.span10 {
  width: 83.33333%;
}

/* line 115, _grid.scss */
.span11 {
  width: 91.66667%;
}

/* line 115, _grid.scss */
.span12 {
  width: 100%;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 5, _forms.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 16, _forms.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 30, _forms.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 42, _forms.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 54, _forms.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 69, _forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 79, _forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 89, _forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 100, _forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 113, _forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 122, _forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 132, _forms.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 5, _header.scss */
header {
  height: 75px;
  padding-top: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ab953), color-stop(100%, #49a34b));
  background-image: -webkit-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -moz-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -o-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: linear-gradient(#5ab953 0%, #49a34b 100%);
  -webkit-box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
}

/* line 12, _header.scss */
.logo {
  height: 50px;
  margin: auto;
  text-align: center;
  width: 165px;
}
/* line 18, _header.scss */
.logo .title {
  font-size: 28px;
  font-family: "Arvo", Georgia, Times, serif;
  margin: 0;
}
/* line 24, _header.scss */
.logo .subtitle {
  font-size: 14px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0;
}
/* line 30, _header.scss */
.logo .title, .logo .subtitle {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 1px white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
/* line 37, _header.scss */
.logo a {
  text-decoration: none;
}

/* line 42, _header.scss */
.title-box {
  display: inline-block;
  color: white;
  float: right;
  position: relative;
  right: 10px;
}
/* line 49, _header.scss */
.title-box .title {
  font-size: 24px;
  font-family: "Arvo", Georgia, Times, serif;
  margin: 0;
}
/* line 55, _header.scss */
.title-box .subtitle {
  font-size: 12px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* line 1, _footer.scss */
footer {
  margin: 50px 0 15px 0;
  text-align: center;
  font-size: 12px;
  color: #9b9b9b;
}
/* line 7, _footer.scss */
footer a {
  text-decoration: none;
  color: #7bbced;
}

/* line 1, _intro.scss */
.intro {
  margin: 30px 0;
}
/* line 4, _intro.scss */
.intro img {
  display: inline;
}
/* line 8, _intro.scss */
.intro .ciceroos {
  font-weight: bold;
  text-align: center;
  position: relative;
  left: -30px;
  top: -6px;
}
/* line 16, _intro.scss */
.intro .logo-ciceroos {
  margin-left: 10px;
  position: relative;
  top: 15px;
}
/* line 22, _intro.scss */
.intro p {
  margin: 20px 0;
}

/* line 1, _structure.scss */
#content {
  min-height: 600px;
}
/* line 5, _structure.scss */
#content.loading {
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70px;
}

/* line 8, _editor.scss */
.form-section {
  margin-top: 40px;
}
/* line 12, _editor.scss */
.form-section label {
  margin-right: 20px;
  font-weight: bold;
  vertical-align: middle;
  font-size: 20px;
}
/* line 19, _editor.scss */
.form-section input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 20px;
  padding: 8px;
}

/* line 26, _editor.scss */
.section-header {
  margin-bottom: 20px;
}

/* line 30, _editor.scss */
.select-categories {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 35, _editor.scss */
.select-categories.disabled {
  opacity: 0.0;
  height: 0;
  overflow: hidden;
}

/* line 43, _editor.scss */
.find-location input {
  width: 100%;
  vertical-align: middle;
}

/* line 49, _editor.scss */
.step-number {
  width: 28px;
  height: 28px;
  border: solid 3px #49a34b;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 22px;
  margin-right: 14px;
  font-size: 14px;
}

/* line 62, _editor.scss */
button {
  margin: 30px auto 50px auto;
  height: 40px;
  font-size: 20px;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ab953), color-stop(100%, #49a34b));
  background-image: -webkit-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -moz-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -o-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: linear-gradient(#5ab953 0%, #49a34b 100%);
  -webkit-box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 2px 0 -1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 2px 0 -1px rgba(51, 51, 51, 0.5);
  box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 2px 0 -1px rgba(51, 51, 51, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #49a34b;
}
/* line 72, _editor.scss */
button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #49a34b), color-stop(100%, #5ab953));
  background-image: -webkit-linear-gradient(#49a34b 60%, #5ab953 100%);
  background-image: -moz-linear-gradient(#49a34b 60%, #5ab953 100%);
  background-image: -o-linear-gradient(#49a34b 60%, #5ab953 100%);
  background-image: linear-gradient(#49a34b 60%, #5ab953 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  border-color: rgba(73, 163, 75, 0.8);
}

/* line 79, _editor.scss */
.section-separator {
  width: 146px;
  height: 24px;
  margin: 0 auto 20px auto;
  background-image: url("../images/sep.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 3, _viewer.scss */
.viewer h3 {
  margin: 40px 0 20px 0;
  text-align: center;
}
/* line 8, _viewer.scss */
.viewer .map {
  height: 500px;
}
/* line 12, _viewer.scss */
.viewer .address {
  color: #49a34b;
}

/* line 1, _categories.scss */
ul.categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 8, _categories.scss */
.category-name {
  line-height: 22px;
  font-size: 16px;
  margin: 0 20px 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(51, 51, 51, 0.5);
  box-shadow: inset 0px 1px 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(51, 51, 51, 0.5);
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ab953), color-stop(100%, #49a34b));
  background-image: -webkit-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -moz-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: -o-linear-gradient(#5ab953 0%, #49a34b 100%);
  background-image: linear-gradient(#5ab953 0%, #49a34b 100%);
  color: white;
}
/* line 20, _categories.scss */
.category-name.selected {
  background-image: none;
  background-color: #337134;
}
/* line 25, _categories.scss */
.category-name.active {
  opacity: 0.8;
}

/* line 31, _categories.scss */
.cat-icon {
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

/* line 1, _map.scss */
.marker-info-window {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 15px 10px 10px 10px;
  color: white;
  font-size: 14px;
  opacity: 1;
  -webkit-transition: ease-out 0.6s all;
  -moz-transition: ease-out 0.6s all;
  -o-transition: ease-out 0.6s all;
  transition: ease-out 0.6s all;
}
/* line 16, _map.scss */
.marker-info-window.hidden {
  opacity: 0;
  display: block;
}
/* line 20, _map.scss */
.marker-info-window img {
  float: left;
  width: 37px;
  height: 47px;
  margin: -5px 10px 0 0;
}

/* line 26, _map.scss */
.map-section {
  opacity: 1;
  height: auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 31, _map.scss */
.map-section.disabled {
  opacity: 0;
  position: relative;
  top: -200px;
  height: 0px;
  overflow: hidden;
}
/* line 40, _map.scss */
.map-section .show-map .map {
  margin: 10px 0;
  height: 300px;
}
/* line 46, _map.scss */
.map-section .show-result {
  padding-left: 50px;
}
/* line 50, _map.scss */
.map-section .show-result textarea {
  width: 100%;
  height: 150px;
}
/* line 55, _map.scss */
.map-section .show-result p {
  margin-top: 25px;
  margin-bottom: 5px;
}

/* overrides for the iframe target */
/* line 4, _frame.scss */
.frame-only {
  display: none;
}

/* line 5, _frame.scss */
.frame .frame-only {
  display: inherit;
}

/* line 6, _frame.scss */
.hide-in-frame {
  display: inherit;
}

/* line 7, _frame.scss */
.frame .hide-in-frame {
  display: none;
}

/* line 10, _frame.scss */
body.frame {
  border: solid 1px #cccccc;
}

/* line 14, _frame.scss */
.frame #content {
  min-height: 300px;
}

/* line 18, _frame.scss */
.frame header {
  display: none;
}

/* line 22, _frame.scss */
.frame .container {
  padding: 0;
}

/* line 26, _frame.scss */
.frame .viewer .map {
  height: 300px;
}

/* line 30, _frame.scss */
.frame footer {
  margin: 0;
  padding: 7px;
}

/* line 35, _frame.scss */
.frame h3 {
  font-size: 16px;
  padding: 14px 10px;
  margin: 0;
  font-weight: 300;
}
/* line 41, _frame.scss */
.frame h3 .address {
  display: block;
}
